<div class="flex items-center justify-center mx-auto">    
    <ul role="list" class="bg-gray-800 max-w-sm divide-y divide-gray-200 dark:divide-gray-700">
        <li class="py-4 sm:py-4">
            <div class="flex items-center space-x-3">
                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                    <span class="font-medium text-green-700 dark:text-gray-300">JL</span>
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-semibold text-green-500 truncate dark:text-white">
                        Julio Lopez
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        Departamento 1 (Patio)
                    </p>
                </div>
                <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
                    <span class="w-2 h-2 mr-1 bg-green-500 rounded-full"></span>
                    Conectado
                </span>
            </div>
        </li>
        <li class="py-3 sm:py-4">
            <div class="flex items-center space-x-3">
                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                    <span class="font-medium text-green-700
                    dark:text-gray-300">HC</span>
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-semibold text-green-500 truncate dark:text-white">
                        Hector Cervantes
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                        Departamento 2 (Vagones)
                    </p>
                </div>
                <span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                    <span class="w-2 h-2 mr-1 bg-red-500 rounded-full"></span>
                    Desconectado
                </span>
            </div>
        </li>
    </ul>
</div>